# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Signing / secrets
*.mobileprovision
*.provisionprofile
*.p12
*.cer
*.pem
.env
.env.*
